---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const pageTitle = t('about.title')
const description = t('about.description')
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h2>{t('about.subtitle')}</h2>
</BaseLayout>
