---
---
<header>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</header>

<style>
    header {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>