---
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<nav>
  <ul class="flex gap-4">
    <li><a href={`/${lang}`}>{t('nav.home')}</a></li>
    <li><a href={`/${lang}/about`}>{t('nav.about')}</a></li>
    <li><a href={`/${lang}/blog`}>{t('nav.blog')}</a></li>
    <li><a href={`/${lang}/tags`}>{t('nav.tags')}</a></li>
  </ul>
</nav>
